// colors
$color-primary-blue-light: #71a8d6cc;
$color-primary-blue-dark: #0d2f9ee7;
$color-primary-green-dark: #00ad42c4;
$color-primary-green-light: #76eb8ad3;
$color-primary-orange-light: #cdcf47;
$color-primary-orange-dark: #f88400e8;
$color-primary-grey: #777;
$color-primary-white: #fff;
$color-primary-grey-light: #f7f7f7;


// grid
    
$grid-width:114rem;
$gutter-vertical:8rem;
$gutter-horizental:6rem;
