<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <style>
        .check{
            background-color: red;
            float: left;
            height: 5rem;
            width: 5rem;
            shape-outside: circle(50%at 50% 50%);
             clip-path:circle(50%at 50% 50%);
            -webkit-clip-path:  circle(50%at 50% 50%);}
        </style>
    </head>
    <body>
        <div class="check">
            bla bla bla
        </div>
    </body>
</html>
